body{
    background-color: #2f3336;
}

.wrapper{
    display:grid;
    box-sizing: border-box;
    
    grid-template-areas: 
    "main options1";
    background-color: black;

}
.main,.options1{
    background-color: #2f3336;
}

.options1{
    width: 33.3vw;
    height: 99.5vh;
    float: right;
    box-shadow: 0 0 10px 10px #2f3336;
    color:white;
}
.main object{
    float: left;
}
.main{
    float:left;
}

.parameter{
    margin-bottom: 1em;
}

#strains{
    display: none;
}
#nzmap path:hover{
    fill:#70787e;
}
#nzmap path[selected="yes"]:hover{
    fill: #37a0a7;
}
#distancerange,#vacrange{
    width: 50%;
}

